@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTWanjudaedunsancheB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

div {
  font-family: "NPSfontBold";
  user-select: none;
}

input{
  font-family: "NPSfontBold";
}

select{
  font-family: "NPSfontBold";
}

.App{
  border-top: 0.3vw solid #009223;
  /* 고-----증을 한것이다 고-----증을 by독감보균자*/
}

.end {
  scale: 1;
  opacity: 1;
  transition: scale 0.6s, opacity 0.3s;
}

.end2 {
  scale: 0;
  opacity: 0;
  transition: scale 0.4s;
}