.condition_all{
  margin: 0 17vw;
  /* font-family: font_ns, sans-serif; */
  margin-bottom: 2vw;
}

.ymjc_large_title > h2{
  font-family: font_ns, sans-serif;
  font-size: 2vw;
}

.ymjc_medium_title >p{
  font-family: font_ns, sans-serif;
  margin-left: 10px;
}

.ymjc_medium_title{
  border-bottom: 3px dashed gray;
}

.ymjc_medium_title > h2{ 
  margin-top: 3vw;
  color:rgb(2, 124, 12);
  font-family: font_ns, sans-serif;
  font-size: 2vw;
  text-align: left;
  font-weight: 700;
}

.ymjc_small_title_s{
  background-color: rgb(238, 236, 236);
  margin: auto;
}

.ymjc_small_title_s > p {
  padding-top:2vw;
  color: #000000;
  margin-right: 2vw;
  margin-left: 2vw;
  font-family: font_ns, sans-serif;
  padding-bottom:2vw;
  font-size: 1.2vw;
}

.ymjc_small_title > h3{
  font-size: 2vw;
  font-weight: 500;
  font-family: font_ns, sans-serif;
  font-weight: 550;
  margin: 1vw 0;
}

.ymjc_small_title > p{
  font-family: font_ns, sans-serif;
  color: gray;
  font-size: 1.2vw;
}

.ymjc_small_title {
  margin-left: 1vw;
}