/* 페이지 공통 css */
#History_Main_Div{
  padding-top: 0;
  position: relative;
  z-index: 3;
  
}
#History_Main_Div img{
  vertical-align: top;
  border: 0;
}
.history_container{
  position: relative;
  overflow: hidden;
}
.history_section_content{
  position: relative;
}
.history_ul{
  list-style: none;
  position: relative;
  width: 1070px;
  margin: 0 auto;
  z-index: 3;
}
.history_li{
  position: absolute;
  padding-bottom: 66px;
}
.his_tit{
  color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'GangwonEduPowerExtraBoldA';
  font-weight: bold;
  font-size: 46px;
  letter-spacing: 0.02em;
}
.history_section_content .his_line {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
.his_year{
  color: #ffce32;
  font-size: 28px;
  font-weight: bold;
  font-family: 'GangwonEduPowerExtraBoldA';
  /* font-family: "맑은고딕"; */
}
/* li p태그 */

.his_li_content{
  font-family: 'GangwonEduPowerExtraBoldA';
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  white-space: nowrap;
  letter-spacing: -0.04em;
}
.history_li.right{
  text-align: right;
}
.history_li.left{
  text-align: left;
}
/* li 포인트 노란 점 */
.history_li::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 2px;
  border: 5px solid #ffce32;
  border-radius: 20px;
  /* top: 165px; */
}

.history_li.left::after{
  left: -70px;
}
.history_li.right::after{
  right: -63px;
}

.history_li.left.big::after{
  left: -85px;
}
.history_li.right.big::after{
  right: -79px;
}

/* 꽃 */
.history_li::before{
  content: '';
  position: absolute;
  bottom: 22px;
  width: 50px;
  height: 126px;
  background: url(./his_images/img_pin_s.png) 0 0 no-repeat;
}
.history_li.big::before{
  width: 80px;
  height: 200px;
  bottom: 19px;
  background: url(./his_images/img_pin_b.png) 0 0 no-repeat;
}

.history_li.right::before{
  right: -78px;
}
.history_li.left::before{
  left: -80px;
}

.history_li.left.big::before{
  left: -110px;
}
.history_li.right.big::before{
  right: -110px;
}


/* 로드맵 */
.his_line{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* 1번 섹션 */
.scene01{
  background-color: #4d006a;
  height: 1200px;
}
.scene01 .his_tit{
  top: 242px;
}
.scene01 .his_logo{
  position: absolute;
  left: 70px;
  top: -3px;
}
.history_section_content.scene01 .his_line{
  bottom: 0;
  height: 1147px;
  background: url(./his_images/bg_history_line01.png) 50% 100% no-repeat;
}
.scene01 .history_li:nth-child(1){
  right: 294px;
  top: 397px;
}
.scene01 .history_li:nth-child(2){
  left: 228px;
  top: 772px;
}
.scene01 .history_li:nth-child(3){
  left: 797px;
  top: 931px;
}
.scene01 .history_li::after{
  background-color: #4d006a;
}
/* 1번 섹션 이미지 */
.scene01 .his_sec_img01{
  left: 50%;
  top: 150px;
  margin-left: -889px;
  position: absolute;
}
.scene01 .his_sec_img02{
  left: 50%;
  bottom: 313px;
  margin-left: 252px;
  position: absolute;
}

/* 2번 섹션 */
.scene02{
  background-color: #14a8e6;
  height: 1400px;
}
.history_section_content.scene02 .his_line{
  top: 0;
  bottom: 0;
  background: url(./his_images/bg_history_line02.png) 50% no-repeat;
  z-index: 2;
}
.scene02 .history_li:nth-child(1){
  right: 242px;
  top: 133px;
}
.scene02 .history_li:nth-child(2){
  right: 701px;
  top: 133px;
}
.scene02 .history_li:nth-child(3){
  top: 667px;
  left: 211px;
}
.scene02 .history_li:nth-child(4){
  left: 711px;
  top: 457px;
}
.scene02 .history_li:nth-child(5){
  top: 884px;
  right: 188px;
}
.scene02 .history_li:nth-child(6){
  top: 1092px;
  left: 99px;
}
.scene02 .history_li::after{
  background-color: #14a8e6;
}
/* 2번 섹션 이미지 */
.scene02 .his_sec_img01{
  left: 50%;
  top: -141px;
  margin-left: -711px;
  position: absolute;
  z-index: 3;
}
.scene02 .his_sec_img02{
  left: 50%;
  top: 330px;
  margin-left: 424px;
  position: absolute;
  z-index: 3;
}
.scene02 .his_sec_img03{
  left: 50%;
  bottom: 203px;
  margin-left: -620px;
  position: absolute;
  z-index: 1;
}
.scene02 .his_sec_img04{
  right: 50%;
  bottom: -1px;
  margin-right: -960px;
  position: absolute;
  z-index: 1;
}

/* 3번 섹션 */
.scene03{
  background-color: #e85a1c;
  height: 1200px;
}
.history_section_content.scene03 .his_line{
  top: 0;
  bottom: 0;
  background: url(./his_images/bg_history_line03.png) 50% 0 no-repeat;
}
.scene03 .history_li:nth-child(1){
  left: 180px;
  top: 124px;
}
.scene03 .history_li:nth-child(2){
  right: 65px;
  top: 289px;
}
.scene03 .history_li:nth-child(3){
  right: 218px;
  top: 633px;
}
.scene03 .history_li:nth-child(4){
  left: 375px;
  top: 895px;
}
.scene03 .history_li::after{
  background-color: #e85a1c;
}
/* 3번 섹션 이미지 */
.scene03 .his_sec_img01{
  left: 50%;
  top: 347px;
  margin-left: -960px;
  position: absolute;
  z-index: 3;
}
.scene03 .his_sec_img02{
  right: 50%;
  top: 79px;
  margin-right: -960px;
  position: absolute;
  z-index: 3;
}
/* 4번 섹션 */
.scene04{
  background-color: #009223;
  height: 2142px;
}
.scene04 .his_tit{
  top: 224px;
}
.history_section_content.scene04 .his_line{
  top: 0;
  bottom: 0;
  background: url(./his_images/bg_history_line04.png) 50% 0 no-repeat;
  z-index: 2;
}
.scene04 .history_li:nth-child(1){
  left: 201px;
  top: 390px;
}
.scene04 .history_li:nth-child(2){
  right: 128px;
  top: 593px;
}
.scene04 .history_li:nth-child(3){
  right: 191px;
  top: 854px;
}
.scene04 .history_li:nth-child(4){
  left: 161px;
  top: 814px;
}
.scene04 .history_li:nth-child(5){
  left: 278px;
  top: 1178px;
}
.scene04 .history_li:nth-child(6){
  right: 166px;
  top: 1178px;
}
.scene04 .his_logo{
  position: absolute;
  right: 80px;
  top: -16px;
}
.scene04 .history_li:nth-child(7){
  right: 198px;
  top: 1626px;
}
.scene04 .history_li:nth-child(8){
  left: 30px;
  top: 1489px;
}
.scene04 .history_li:nth-child(9){
  left: 200px;
  top: 1896px;
}
.scene04 .history_li:nth-child(10){
  right: 89px;
  top: 1896px;
}
.scene04 .history_li::after{
  background-color: #009223;
}
/* 4번 섹션 이미지 */
.scene04 .his_sec_img01{
  left: 50%;
  top: 22px;
  margin-left: 400px;
  position: absolute;
  z-index: 3;
}
.scene04 .his_sec_img02{
  left: 50%;
  top: 881px;
  margin-left: -778px;
  position: absolute;
  z-index: 3;
}
.scene04 .his_sec_img03{
  left: 50%;
  bottom: 142px;
  margin-left: -960px;
  position: absolute;
  z-index: 1;
}
