.m_advertising{
  text-align: center;
}

.m_advertising_list_all{
  display: grid;
  grid-template-rows:1fr 1fr 1fr; 
  grid-template-columns:1fr 1fr 1fr;
  gap: 20px;
}

.m_advertising_list_all{
  margin: auto;
  padding: 50PX 50PX 50PX 50PX;
  
}

/* 이미지 크기 */
.m_advertising_Image>a>img{
  width:  550px
}

/* 호버 */

.m_advertising_Image{
  margin: auto;
}