
#event_all{

}

.y_painting{
  justify-content: center;
  text-align: center;
}

.y_list_button{
  margin: auto;
  padding: 50PX 50PX 50PX 50PX;
  width: 100%;
}

.y_button{
  width: fit-content;
  border: 1px solid #000;
  margin: auto;
}

/* 리스트 버튼 */
.y_button>li{
  float: left;
  padding: 5px 10px 5px 10px;
  background-color: royalblue;
  margin-left: 20px;
 }

/* 버튼 누르면 색바낌 */
 .y_button>li>a:active{
  background-color: blueviolet;
}

.y_list_all{
  display: grid;
  grid-template-rows:1fr 1fr ; 
  grid-template-columns:1fr 1fr 1fr;
  gap: 30px;
}

/* 리스트 그림 */
a>div>img{ 
  width: 450px
}

.y_list_li{
  justify-content: center
  
}

.y_list_item{
  width: fit-content;
  height: fit-content;
  }


/* 마우스 가져다 대면 색 바낌 */
.y_list_item:hover{
  box-shadow: 0 0 0 10px green;
}

.list_content{
  justify-content: center;
  text-align: center;
}