

.CHM_headerMenutab1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  text-align: center;
  padding: 0 30vw;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.316);
}

.CHM_headerMenutab1.sticky {
  position: sticky;
  top: 0;
  background-color: white !important;
  color: black;
  z-index: 10;
  transition: background-color 0.3s;
}

.CHM_headerMenutab1 a {
  text-decoration: none;
  color: white;
  z-index: 7;
  position: relative;
}

.CHM_headerMenutab1 div {
  position: relative;
  padding: 1.5vw 0 1.3vw 0;
  font-size: 1vw;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s;
  cursor: pointer;
  user-select: none;
  z-index: 7;
}

.CHM_headerMenutab1 div:hover {
  background-color: rgba(0, 0, 0, 0.081);
}
