.n_1_all{
  width: 50%; 
  margin: 0 auto;
}

.n_1_title > h3{
  font-size: 50px;
}

.n_1_title > p {
  color: darkgray;
}

.n_back_b{
  width: 50%; 
  margin: 0 auto;
}

.n_back_b > button{
  width: 200px; 
  height: 60px;
  background-color: green;
  color: aliceblue;
  border: none;
  border-radius: 50px;
  
}


.n_back_b :hover{
  background-color: darkgreen;
}
