.j_Title h2{
  margin: 2vw 0;
  font-size: 2vw;
  text-align: center;
}

.j_notice_all{
  /* border: 1px solid #000; */
margin: 0 7vw
}
.j_all>div{
  margin-right: 0px;
}

.j_the_number>p{
font-size: 1.2vw;
}

.j_list_all{
  border-top: 4px solid #009223;
  /* border: 1px solid #000; */
  padding-bottom: 4vw;
}

.j_list{
  display: grid;
  grid-template-columns:0.6fr 8fr 1.2fr ;
  border-bottom: 0.1vw solid grey;
  align-items: center;
  padding: 0.7vw 0
}


/* 숫자 */
.j_number{
font-size: 1.2vw;
}

.j_number>h3{
  color: rgb(243, 200, 8);
  text-align: center;
}

.j_date {
  font-size: 1vw;
}

.j_date>p{
  color: rgb(141, 140, 140);
}

.j_content{
font-size: 1.2vw;
}

.j_content>a{
  font-size: 1.3vw;
  text-align: left;

}

.j_list>div{
  float: left;
  /* border: 1px solid #000; */

}

