.j_notice_all{
  /* border: 1px solid #000; */
  margin-left: auto;
  margin-right: auto;
  width: 1170px;

}
.j_all>div{
  margin-right: 0px;
}

.j_the_number>p{
  margin-right: 450px;
  /* text-align: center; */
}

.j_list_all{
  border-top: 4px solid #009223;
  /* border: 1px solid #000; */
  padding-bottom: 4vw;
}

.j_list{
  display: grid;
  grid-template-rows:71.5px ; 
  grid-template-columns:100px 930px 140px ;
  justify-content: center;
  border-bottom: 1px solid grey;
  
}


/* 숫자 */
.j_number{
margin-top: 7px;
}

.j_number>h3{
  color: rgb(243, 200, 8);
  text-align: center;
}

.j_date {
  margin-top: 15px;
}

.j_date>p{
  color: rgb(141, 140, 140);
}

.j_content{
  margin-top: 25px;
}

.j_content>a{
  font-size: 20px;
  text-align: left;

}

.j_list>div{
  float: left;
  /* border: 1px solid #000; */

}

