.processing_policy_all{
  margin: 0 17vw;
  /* font-family: font_ns, sans-serif; */
  margin-bottom: 70px;
}

.ymjp_large_title > h2{
  font-family: font_ns, sans-serif;
}

.ymjp_small_title{
  border-bottom: 3px dashed gray;
  
}

.ymjp_small_title_s{
  background-color: rgb(238, 236, 236);
  margin: auto;
}

.ymjp_small_title_s > p {
  padding-top:30px;
  color: #000000;
  margin-right: 30px;
  margin-left: 30px;
  font-family: font_ns, sans-serif;
  padding-bottom:30px;
}

.ymjp_small_title > h3{
  font-size: 20px;
  font-weight: 500;
  font-family: font_ns, sans-serif;
  font-weight: 550;
}

.ymjp_small_title > p{
  font-family: font_ns, sans-serif;
  color: gray;
}


.ymjp_small_title {
  margin-left: 10px;
}