

#groupmenu {
  margin: 0 auto;
  width: 100%;
}

#group0 {
  text-align: center;
  font-size: 1.3vw;
}

#group0 h2{
  margin: 3vw 0;
}

#group1 {
  width: 100%;
  height: 35vw;
  text-align: center;
  color: white;
  background-image: url('../image/img/bg_group_menu_slider.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#group1 > strong {
  font-size: 5vw;
  font-weight: 700;

}

#group1 > p{
  margin: 0vw;
  font-weight: 700;
  padding-top: 2vw;
  font-size: 1.2vw;
  line-height: 2vw;
}


.groupname > strong {
  padding: 0.8vw;
  font-size: 1.5vw;
  font-weight: 700;

  border-radius: 2vw;
  border: 0.4vw solid #ffff;
}

.groupname {
  padding: 5vw 0px 3vw 0;
}

.groupicon {
  padding: 4vw 0 2vw 0 ;
}

.groupicon > a {
  padding: 0 3vw;
}

.groupicon > a > img {
  width: 5vw;
  border:0.15vw solid white;
  border-radius: 50%;
}



#group2 {
  margin: 0 auto;
}

#group2 > h3 {
  text-align: center;
  font-size: 2vw;
  font-weight: 700;
}

#group2 > ul > li {
  height: 100%;
}

#group2 > ul > li > span {
  font-size: 1.2vw;
  font-weight: 700;
  color: #009223;
}

#group2 > ul {
  padding: 0;
  margin: 0 10vw;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#group2 > ul > span {
  margin: 10px 0 0 0;
}

.icon{
  margin: 1vw;
}

.icon img{
 width: 7vw;
}

#group2 > li {
  float: left;
}



dt {
  margin-top: 1vw;
  font-size: 1.3vw;
}

dd {
  font-size: 1.2vw;
  margin: 1vw 0 0 0
}

#undermenu {
  margin: 4vw 0;
  text-align: center;  
  width: 100%;
}

#undermenu > a {
  
  margin: 2vw;
  padding: 1vw;

  background-color: #009223;
  color: white;

  font-size: 1.3vw;
  font-weight: 700;

  border-radius: 2vw;
}

#undermenu > a::after {
  content: " > ";
  color: yellow;
}

.li1_jsw {
  list-style: none;
}
