/****************************** 전체 ******************************/

.base_base {
  width: 100%;
  height: auto;
}

.base_all {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.base_section {
  padding: 2.5vw 0;
  width: 100%;
  height: 100%;
  font-family: font_ns, sans-serif;
  background-color: rgb(212, 255, 199);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3vw 0 3vw 0;
}

.base_info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 4vw;
  column-gap: 1vw;
}

/*************** 이용방법 ***************/

.base_top_info_1 {
  background: url(./images/top_01.png) no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.base_top_info_1_detail {
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
  line-height: 3vw;
  letter-spacing: -0.03em;
  position: absolute;
  left: 3vw;
  top: 3vw;
}

.base_top_1_info_button {
  position: absolute;
  left: 3vw;
  bottom: 3.5vw;
  border: 0.15vw solid #fff;
  border-radius: 20px;
  width: 7vw;
  text-align: center;
}

.base_top_button a {
  text-decoration: none;
}

.base_top_1_info_button span {
  display: block;
  line-height: 3vw;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 300;
}

/*************** 역사 ***************/

.base_top_info_2 {
  position: relative;
}

.base_top_info_2 img {
  width: 100%;
}

.base_top_info_2_detail {
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
  line-height: 3vw;
  letter-spacing: -0.03em;
  position: absolute;
  right: 7vw;
  top: 3vw;
}

.base_top_2_info_button {
  display: block;
  position: absolute;
  right: 18vw;
  bottom: 3vw;
  border: 0.15vw solid #fff;
  border-radius: 20px;
  width: 10vw;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 3vw;
  color: white;
}

/****************************** 아래쪽 ******************************/

.base_bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2vw;
  margin: 2vw 3vw;
  height: 20vw;
}

.base_btm_section_1 {
  background-color: #ffd7d7;
  border-radius: 30px 0 30px 0;
  position: relative;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.base_btm_info_1 {
  position: absolute;
  top: 4vw;
  left: 5vw;
}

.base_btm_info_1 h2 {
  margin: 0;
  color: #292929;
  font-size: 2.2vw;
  font-weight: bold;
  font-family: font_sw;
  background: url(./images/btm_tit.png) no-repeat;
  background-size: 4.5vw;
  height: 4.5vw;
  padding:1vw 0 0 2vw;
  margin-bottom: 0.5vw;
}

.base_btm_info_1 p {
  font-size: 1.2vw;
  font-weight: bold;
  text-align: center;
  line-height: 2vw;
  letter-spacing: -0.04em;
}

.base_btm_info_2 {
  position: absolute;
  right: 5vw;
  top: 5.5vw;
}

.base_btm_info_contents a {
  text-decoration: none;
  display: inline-block;
  margin: 1vw;
  font-size: 1.2vw;
  font-weight: bold;
  color: #505050;
  position: relative;
  letter-spacing: -0.04em;
}

.base_btm_info_contents a:hover {
  color: #009223;
}

.base_btm_info_more {
  font-size: 1.2vw;
  padding: 1vw;
}

.base_btm_info_more a {
  text-decoration: none;
  color: #505050;
  position: relative;
}

.base_btm_info_contents a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px; /* 밑줄 두께 */
  bottom: 0;
  left: 0;
  background-color: #009223;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.base_btm_info_contents a:hover::after {
  visibility: visible;
  width: 100%;
}

.base_btm_info_3 {
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 0 2vw 0 2vw;
  background-color: gray;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.base_slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.base_slide {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
  width: 100%;
  height: 100%;
}

.base_slide.active {
  opacity: 1;
}

/*************** 퀵 메뉴 ***************/

.quick_menu {
  padding: 3vw;
  border-radius: 2vw 0 2vw 0;
  background-color: rgb(255, 238, 180);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.qm_info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.qm_info a {
  text-decoration: none;
  color: black;
}


.btm_qms {
  position: relative;
  font-family: font_ns, sans-serif;
}

.btm_qms img {
  position: relative;
  top: 0;
  left: 0;
  width: 5vw;
  border: 0.3vw solid #f2f2f2;
}

.btm_qms strong {
  position: absolute;
  padding-left: 1vw;
  top: 1vw;
  font-size: 1.2vw;
  font-family: "NPSfontBold";
}

.btm_qms span {
  position: relative;
  padding-left: 1vw;
  bottom: 1vw;
  font-size: 1vw;
  font-family: "NPSfontBold";
}