.jh_faq_help_all {

}

.jh_faq_help_container {
    position: relative;
    margin: 0 auto;
}

.jh_faq_help_bar {
    position: sticky;
    top: 0;
    display: flex;
    column-gap: 5vw;
    width: 100%;
    height: 4vw;
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: white;
}

.jh_faq_help_bar_faq, .jh_faq_help_bar_qna {
    position: relative;
    font-size: 1.5vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.jh_faq_help_bar_faq {
    width: 5vw;
    color: green;
    font-weight: 700;
    font-size: 1.5vw;
}



/* @keyframes를 이용한 fadeIn 애니메이션 정의 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.jh_faq_section {
    width: 100%;
    padding: 0;
    margin: 0;
}

.jh_faq_title_name {
    margin: 0 auto;
    text-align: center;
    padding: 2vw 0;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
}

.jh_faq_qms_section {
    position: relative;
    top: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(205, 205, 205);
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 8vw;
}

.jh_faq_content {
    padding: 0 8vw;
    background-color: #e2e2e2;
}

.jh_qms_info {
    display: flex;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 1vw;
    align-items: center;
    justify-content: center;
    height: 5vw;
}

.jh_faq_qms_text {
    margin: 0 auto;
    padding: 1vw;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.jh_faq_qms_text:hover {
    background-color: rgba(141, 255, 131, 0.745); /* 마우스 오버 시 버튼의 배경색 변경 */
    cursor: pointer;
    border-radius: 15px;
}

.jh_faq_qms_text.selected-text {
    background-color: rgba(141, 255, 131, 0.745);
    border-radius: 15px;
}

.jh_faq_info {
display: flex;
flex-direction: column;
}

.jh_faq_right_content {
    float: right;
}

.jh_faq_content_info {
    padding-top: 4vw;
    padding-bottom: 2vw;
display: flex;
justify-content: space-between;
align-items: center;
}

.jh_faq_form_search {
    position: relative;
    width: 20vw;
    height: 3vw;
    vertical-align: middle;
    border: 2px solid #dddddd;
}

.jh_searchform {
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 4vw;
    background-color: #f2f2f2;
}

.jh_searchform input {
    border: 0;
    width: 100%;
    height: 3vw;
    text-indent: 1vw;
    color: #292929;
    font-size: 1.2vw;
}

.jh_searchform input::placeholder {
    font-weight: bold;
    color: rgb(198, 198, 198);
    opacity: 1;
}

.jh_faq_search_img {
    background: url(./data/faq_search.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    right: 1.2vw;
    top: 0.8vw;
    cursor: pointer;
}

.jh_faq_counts {
    color: #999999;
    letter-spacing: -0.045em;
    font-size: 1.2vw;
}

.jh_faq_contens_list {
    border-top: 4px solid #009223;
}

.jh_faq_list_info {
    background-color: white;
    cursor: pointer;
    position: relative;
    padding: 1vw 5vw;
    border: 0.5vw solid #f2f2f2;
}

.jh_faq_list_p {
    position: absolute;
    left: 2.2vw;
    top: 1.4vw;
    color: #fff;
    font-weight: bold; 
    font-family: font_sw;
    font-size: 1.5vw;
    width: 3vw;
    height: 3vw;
    box-sizing: border-box;
    background-color: #009223;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 0.2vw;
    padding-right: 0.1vw;
}

.jh_faq_list_content {
    display: block;
    color: #292929;
    font-size: 1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.jh_faq_list_plus {
    position: relative;
    margin-left: auto;
    background: url(./data/faq_plus.png) no-repeat;
    background-size: cover;
    width: 2vw;
    height: 2vw;
    position: absolute;
    right: 4vw;
    transition: transform 0.3s ease;
}

.jh_faq_list_plus.active {
    animation: rotatePlus 0.3s forwards;
}

.jh_faq_list_plus.inactive {
    animation: rotatePlusBack 0.3s forwards;
}

@keyframes rotatePlus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(135deg);
    }
    }

@keyframes rotatePlusBack {
    from {
        transform: rotate(135deg);
    }
    to {
        transform: rotate(0deg);
    }
    }

.jh_faq_page_list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.jh_faq_page_list span {
    font-family: font_sw;
    font-weight: bold;
    font-size: 2vw;
    padding: 0 1vw;
    margin: 0 1vw;
    color: black;
    cursor: pointer;
}

.jh_faq_dropdown_content {
    height: 0;
    overflow: hidden;
    padding: 0 1vw;
    transition: height 0.3s ease-out, padding 0.3s ease-out; /* 높이와 패딩 변경에 대한 전환 효과 */
    background-color: #f2f2f2;
}

.jh_faq_list_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1vw;
}

.jh_faq_list_info.active .faq_dropdown_content {
    padding-top: 10px;
}

.jh_faq_list_a {
    position: absolute;
    top: 5vw;
    left: -0.3vw;
    color: #fff;
    font-weight: bold;
    font-family: font_sw;
    font-size: 1.5vw;
    width: 3vw;
    height: 3vw;
    padding-top: 2px;
    box-sizing: border-box;
    background-color: #ffc300;
    border-radius: 50%;
    margin-left: 2.5vw;
    margin-top: 0.9vw;
    text-align: center;
    padding-top: 0.4vw;
}

.jh_faq_list_ask {
    position: relative;
    padding: 1vw 0 0 0;
    border-top: 1px solid #dddddd;
    color: #666666;
    line-height: 1.2.3vw;
    font-size: 1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}