.KJH_inq_section {
    padding-left: 50px;
}

.KJH_inq_route {
    font-size: 14px;
    padding: 2.5em 0 5em 190px;
}

.KJH_inq_info {
    padding-left: 190px;
}

.KJH_inq_top_section {
    margin-bottom: 3em;
}

.KJH_inq_top_section > span {
    padding: 15px 25px;
    font-size: 20px;
}

.KJH_inq_top_list {
    border: 2px solid #999999;
    margin-right: 10px;
    background-color: #c7c7c7;
    border-radius: 10px;
}

.KJH_inq_top_pos_num_info, .KJH_inq_top_left_qs_info, .KJH_inq_top_complete_qs_info {
    border-left: 2px solid #999999;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    border-radius: 10px 0 0 10px;
}

.KJH_inq_top_pos_num {
    border-right: 2px solid #999999;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    border-radius: 0 10px 10px 0;
    background-color: #777777;
    color: white;
    margin-right: 40em;
}

.KJH_inq_top_left_qs, .KJH_inq_top_complete_qs {
    border-right: 2px solid #999999;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    border-radius: 0 10px 10px 0;
    background-color: #777777;
    color: white;
}

.KJH_inq_top_left_qs_info:hover, .KJH_inq_top_complete_qs_info:hover {
    background-color: #ababab;
    color: white;
    cursor: pointer;
}

.KJH_inq_top_left_qs {
    margin-right: 10px;
}

.KJH_inq_title_section {
    display: inline-flex;
    border: 5px solid #999999;
}

.KJH_inq_title_section > div {
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
    border-right: 1px solid #999999;
}

.KJH_inq_title_section > div:last-child {
    border-right: 0;
}

.KJH_inq_title_id {
    width: 140px;
}

.KJH_inq_title_kinds {
    width: 150px;
}

.KJH_inq_title_title {
    width: 700px;
}

.KJH_inq_title_created {
    width: 300px;
}

.KJH_inq_title_ctrl {
    width: 220px;
}

.KJH_inq_title_status {
    width: 120px;
}