.kk_help_container1 {
  position: relative;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 1px;
  background-color: #f2f2f2;
}

.kk_ask_help_bar_faq {
  color: green;
  font-weight: 700;
}

.kk_ask_help_bar_qna {
  color: green;
  font-weight: 700;
}

.kk_ask_line_bar {
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 45px;
  width: 50px;
  border-bottom: 4px solid green;
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeIn 0.2s ease-in-out forwards; /* 애니메이션 적용 */
}

.kk_faq_help_bar{
  position: sticky;
  top: 0;
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 65px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: white;
}

.kk_faq_help_bar_faq, .kk_ask_help_bar_qna {
  position: relative;
  width: 120px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.kk_ask_all1 {
  background-color: #f2f2f2;
  margin-bottom: 10em;
  padding-bottom: 50px;
}

.kk_ask_section {
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
  padding: 0 70px 50px;
}

.kk_ask_title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #292929;
  font-weight: 700;
  letter-spacing: -0.07em;
  padding: 72px 0 50px;
}

.kk_ask_agree_section {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.kk_ask_agree_left_section {
  width: 500px;
  margin-right: 48px;
}

.kk_ask_agree_left_section.last-element {
  margin-right: 0;
}

.kk_ask_agree_left_title {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.05em;
  padding-bottom: 19px;
  font-family: font_ns, sans-serif;
}

.kk_ask_agree_left_info {
  border: 2px solid #e5e5e5;
  height: 170px;
  padding: 13px 0 13px 17px;
  overflow: auto;
  color: #bbbbbb;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 14px;
  scroll-behavior: smooth;
}

.kk_ask_agree_left_info_section {
  position: relative;
  left: 0px;
  padding-right: 10px;
  font-family: font_ns, sans-serif;
}

.kk_ask_agree_checkbox_section {
  font-family: font_ns, sans-serif;
}

.kk_checkbox-custom {
  margin: 10px 20px 10px 10px;
}

.kk_check_ess1 {
  color: rgb(43, 105, 58);
}

.kk_ask_btm_section {
  position: relative;
}

.kk_ask_btm_title {
  font-family: font_ns, sans-serif;
  font-weight: 700;
  margin: 40px 0 20px;
  font-size: 28px;
}

.kk_ask_btm_title_right {
  position: absolute;
  bottom: 0;
  right: 1em;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
}

.kk_ask_btm_table caption {
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.kk_ask_btm_table tbody tr {
  border-bottom: 1px solid black;
}

.kk_ask_btm_table tbody tr th {
  font-family: font_ns, sans-serif;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
}

.kk_ask_btm_table tbody tr td {
  height: 45px;
  padding: 12px 0;
  line-height: 120%;
}

.kk_ask_btm_table input {
  width: 900px;
  background: #f2f2f2;
  height: 45px;
  color: #292929;
  font-size: 16px;
  text-indent: 15px;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: border-color 0.5s ease;
}

.kk_ask_btm_table input:hover {
  border-color: black;
  border: 3px solid black;
}

.kk_form_textarea {
  user-select: none;
  resize: none;
  width: 800px;
  height: 230px;
  border-radius: 10px;
  color: #292929;
  font-size: 16px;
  text-indent: 15px;
  border: 3px solid transparent;
  background: #f2f2f2;
  transition: border-color 0.5s ease;
  font-family: font_ns, sans-serif;
  text-align: left;
  vertical-align: middle;
  padding: 30px 5px 15px;
}

.kk_form_textarea:hover {
  border-color: black;
  border: 3px solid black;
}

.kk_form_textarea::placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.kk_form_text input[type="file"] {
  width: 350px;
}

.kk_ask_btm_btn_sction {
  text-align: center;
  border-top: 1px solid #e8e8e8;
  position: relative;
  left: -70px;
  margin-right: -140px;
  padding-top: 40px;
}

.kk_ask_btm_btn_cancel, .kk_ask_btm_btn_reg {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  transition-duration: 0.2s;
  margin: 0 4px;
}

.kk_ask_btm_btn_cancel {
  background-color: #fff;
  border: 2px solid #009223;
  color: #009223;
  box-sizing: border-box;
  width: 126px;
}

.kk_ask_btm_btn_cancel span {
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  line-height: 46px;
}

.kk_ask_btm_btn_reg {
  background-color: #009223;
  width: 170px;
  color: #fff;
  border: none;
}

.kk_ask_btm_btn_reg span {
  height: 50px;
  line-height: 50px;
  letter-spacing: -0.03em;
  display: inline-block;
  vertical-align: middle;
}

.kk_ask_btm_btn_reg::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 16px;
  background: url(./data/icon_reg.png) 0 0 no-repeat;
  margin-left: 7px;
}

.jj_ask_alart0{
  padding-bottom: 40px;
  padding-top: 20px;
}
.jj_ask_alart{
  background: #f2f2f2;
  display: flex;
}

.fa-solid.fa-circle-exclamation {
  color: #b8adad;
  font-size: 40px;
  padding-left: 18px;
  padding-top: 13px;
}

.jj_ask_alart_1{
  width: 66px;
}

.jj_ask_alart_2{
  font-size: 13px;
  padding-left: 1px;
  color: #827a7a;
}
.jj_ask_btm_btn_reg {
  background-color: #009223;
  width: 170px;
  color: #fff;
  border: none;
}

.kk_ask_btm_btn_sction button {

}