.kk_help_container1 {
  position: relative;
  padding: 3vw 0;
  background-color: #f2f2f2;
}

.kk_ask_help_bar_faq {
  color: green;
  font-weight: 700;
}

.kk_ask_help_bar_qna {
  color: green;
  font-weight: 700;
}


.kk_faq_help_bar{
  position: sticky;
  column-gap: 5vw;
  top: 0;
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 4vw;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: white;
}

.kk_faq_help_bar_faq, .kk_ask_help_bar_qna {
  position: relative;
  font-size: 1.5vw;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  padding-left: 1vw;
}

.kk_ask_all1 {
  background-color: #f2f2f2;
}

.kk_ask_section {
  background-color: #fff;
  margin: 0 5vw;
  border: 0.1vw solid #e8e8e8;
  padding: 0 5vw 2vw;
}

.kk_ask_title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  color: #292929;
  font-weight: 700;
  letter-spacing: -0.07em;
  padding: 4vw 0 3vw;
}

.kk_ask_agree_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  column-gap: 3vw;
  margin-bottom: 4vw;
}

.kk_ask_agree_left_section {

}

.kk_ask_agree_left_section.last-element {
  margin-right: 0;
}

.kk_ask_agree_left_title {
  color: #666666;
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: -0.05em;
  padding-bottom: 1.2vw;
  font-family: font_ns, sans-serif;
}

.kk_ask_agree_left_info {
  border: 0.15vw solid #e5e5e5;
  height: 15vw;
  padding: 1vw 0 1vw 1vw;
  overflow: auto;
  color: #bbbbbb;
  font-size: 0.9vw;
  line-height: 1.2vw;
  margin-bottom: 1vw;
  scroll-behavior: smooth;
}

.kk_ask_agree_left_info_section {
  position: relative;
  left: 0px;
  padding-right: 1vw;
  font-family: font_ns, sans-serif;
}

.kk_ask_agree_checkbox_section {
  font-family: font_ns, sans-serif;
  font-size: 1.2vw;
}

.kk_checkbox-custom {
  margin: 1vw 1.2vw 1vw 1vw;
}

.kk_check_ess1 {
  color: rgb(43, 105, 58);
}

.kk_ask_btm_section {
  position: relative;
}

.kk_ask_btm_title {
  font-family: font_ns, sans-serif;
  font-weight: 700;
  margin: 2vw 0 1vw;
  font-size: 1.8vw;
}

.kk_ask_btm_title_right {
  position: absolute;
  bottom: 0;
  right: 1em;
  font-size: 1vw;
  font-weight: bold;
  color: #999999;
}

.kk_ask_btm_table caption {
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.kk_ask_btm_table tbody tr {
  border-bottom: 1px solid black;
}

.kk_ask_btm_table tbody tr th {
  font-family: font_ns, sans-serif;
  text-align: left;
  vertical-align: middle;
  font-size: 1.2vw;
}

.kk_ask_btm_table tbody tr td {
  padding: 1vw 0;
  line-height: 120%;
}

.kk_ask_btm_table input {
  width:69vw;
  background: #f2f2f2;
  height: 3vw;
  color: #292929;
  font-size: 1.2vw;
  text-indent: 1vw;
  border: 0.1vw solid transparent;
  border-radius: 1vw;
  transition: border-color 0.5s ease;
}

.kk_form_textarea {
  user-select: none;
  resize: none;
  width: 98%;
  height: 6vw;
  border-radius: 10px;
  color: #292929;
  font-size: 1.2vw;
  text-indent: 1vw;
  border: 3px solid transparent;
  background: #f2f2f2;
  transition: border-color 0.5s ease;
  font-family: font_ns, sans-serif;
  text-align: left;
  vertical-align: middle;
  padding: 1vw 0;
}

.kk_form_textarea:hover {
  border-color: black;
  border: 3px solid black;
}

.kk_form_textarea::placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
}

.kk_form_text input[type="file"] {
  display: flex;
  align-items: center;
  width: 22vw;
}

.kk_ask_btm_btn_sction {
  text-align: center;
  border-top: 0.1vw solid #e8e8e8;
  position: relative;
  padding-top: 2vw;
}

.kk_ask_btm_btn_cancel, .kk_ask_btm_btn_reg {
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  transition-duration: 0.2s;
  margin: 0 1vw;
}

.kk_ask_btm_btn_cancel {
  background-color: #fff;
  border: 0.2vw solid #009223;
  color: #009223;
  box-sizing: border-box;
  width: 10vw;
}

.kk_ask_btm_btn_cancel span {
  display: inline-block;
  vertical-align: middle;
  height: 3vw;
  line-height: 3vw;
}

.kk_ask_btm_btn_reg {
  background-color: #009223;
  width: 10vw;
  color: #fff;
  border: none;
}

.kk_ask_btm_btn_reg span {
  height: 3.3vw;
  line-height: 3.4vw;
  letter-spacing: -0.03em;
  display: inline-block;
  vertical-align: middle;
}

.kk_ask_btm_btn_reg::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.3vw;
  height: 1vw;
  background: url(./data/icon_reg.png) no-repeat;
  background-size: cover;
  margin-left: 0.1vw;
}

.jj_ask_alart0{
  padding-bottom: 3vw;
  padding-top: 2vw;
}
.jj_ask_alart{
  background: #f2f2f2;
  display: flex;
}

.fa-solid.fa-circle-exclamation {
  color: #b8adad;
  font-size: 3vw;
  padding-left: 1vw;
  padding-top: 1vw;
}

.jj_ask_alart_1{
  width:5vw;
}

.jj_ask_alart_2{
  font-size: 1vw;
  color: #827a7a;
}
.jj_ask_btm_btn_reg {
  background-color: #009223;
  width: 170px;
  color: #fff;
  border: none;
}

