.admin_contents{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: white;
  height: 20vw;
}
.admin_tags{
  margin: 20px 20px;
}
.admin_tags > li{
  float: left;
  padding: 1em;
}