.footer111 {
  background-color: #292929;
}

.content_jun {
  background-color: #292929;
  padding: 1vw;
  position: relative;
  margin: 0 4vw;
}

.util_menu_jun{
  display: flex;
}
.util_menu_jun1{
  display: flex;
  align-items: center;
  margin-left: 30vw
}

#jun_b { 
  border: none;
  background-color: #292929;
  padding: 0 2vw;
  color: #7a6f6f;
  font-size: 1vw;
  margin-bottom: 0.5vw;
}

#jun_facebook {
  border: none;
  float: right;
  width: 50px;
  height: 50px;
}

#jun_instagram {
  border: none;
  float: right;
  width: 50px;
  height: 50px;
}

#jun_b img {
  position: relative;
  width: 2.7vw;
}

#jun_b1{ 
  border: none;
  background-color: #292929;
  padding: 0 2vw;
  color: #c5b5b5;
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}

.line {
  border-bottom: 1px solid #7a6f6f;
  width: 100%;
}

.footer_text{
  padding-top: 1.5vw;
  color: #7a6f6f;
  font-size: 1vw;
}