/*************** 본 문 ***************/



/*************** 슬 라 이 드 ***************/

.Artist_slide_content{
  margin-top: 60px;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.Artist_slide{
  max-width: 2570px;
  width: 100%;
  overflow: hidden;
}
.Artist_slide_viewport{
  position: absolute !important;
  left: 50% !important;
  width: 2478px !important;
  margin-left: -378px !important;
  overflow: initial !important;
}
.slide_li{
  right: 39px;
  top: -10px;
  margin: auto;
  list-style: none;
  width: 4215%;
  position: relative;
  transition-duration: 0.5s;
  transform: translate3d(0px, 0px, 0px);
}
.slide_li_item{
  float: left;
  list-style: none;
  position: relative;
  width: 770px;
  margin-right: 130px;
}
/*************** 슬 라 이 드 이 미 지 ***************/
/* 비활성화시 이미지는 opacity 0.5 텍스트는 0 */
.slide_img{
  width: 770px; 
  height: 390px;
  opacity: 0.5;
  overflow: hidden;
  transition-delay: 0.3s;
  transition-duration: 0.45s
}
.slide_img.active{
  opacity: 1;
}
.slide_img > img{
  position: relative;
  width: 770px;
  /* height: 390px; */
  vertical-align: top;
  border: 0;
}
.slide_li:nth-child(5n){
  background-position: 0 60px;
}

/*************** 슬 라 이 드 텍 스 트 ***************/
.slide_info{
  text-align: center;
  padding-top: 30px;
  position: relative;
  margin-top: 40px;
  opacity: 0;
  /* top: 30px; */
  top: 0;
}
.slide_info::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 4px;
  width: 50px;
  margin-left: -25px;
  background-color: #ffc300;
}
.slide_info_tit{
  font-size: 22px;
  font-weight: bold;
  color: #292929;
  letter-spacing: 0em;
}
.slide_info_txt{
  display: block;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  letter-spacing: -0.05em;
}
.slide_info.active{
  opacity: 1;
}

/*************** 슬 라 이 드 버 튼 ***************/
.slide_ctl_Arrow{
  /* border: 1px solid #000; */
}

.slide_ctl_Arrow > a{
  width: 50px;
  height: 50px;
  background: url(./art_images/icon_slider_arr.png) no-repeat;
  position: absolute;
  top: 170px;
  overflow: hidden;
  font-size: 0;
  line-height: 0px;
  text-indent: -9999px;
  color: #333;
  cursor: pointer;
}
.slide_ctl_Arrow > .bt_next{
  background-position: 100% 0;
}
.bt_prev{
  background-position: 0 0;
  left: 50%;
  margin-left: -467px;
}
.bt_next{
  right: 50%;
  margin-right: -482px;
}
.bt_prev:hover{
  background-position: 0 100%;
}
.bt_next:hover{
  background-position: 100% 100%;
}

.slide_ctl_Dot{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 97px;
  text-align: center;
}

.Dot_item{
  display: inline-block;
  margin: 0 5px;

}
.clicked_dot{
  display: block;
  width: 10px;
  height: 10px;
  background-color: #dddddd;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 30px;
  transition-duration: 0.3s;
}
.clicked_dot:active{
  background-color: #ffc300;
  width: 30px;
}
.clicked_dot.on{
  background-color: #ffc300;
  width: 30px;
  
}

/*************** 핵 심 요 소 ***************/
.Point{
  height: 490px;
  background: url(./art_images/img_sw_artist_point.jpg) 50% 0 no-repeat;
  margin: 0 auto;
  text-align: center;
  padding-top: 103px;
  box-sizing: border-box;
}
.Point > h3{
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 68px;
  letter-spacing: -0.03em;
}
.Point_li{
  overflow: hidden;
  display: inline-block;
}
.Point_li_item{
  float: left;
  width: 140px;
  margin: 0 45px;
}
.point_icon{
  vertical-align: top;
  border: 0;
  
}
.Point_li_item span{
  display: block;
  color: #fff;
  font-size: 18px;
  margin-top: 25px;
  letter-spacing: -0.025em;
}

/*************** 커 리 어 맵 ***************/
.career_path{
  width: 1033px;
  margin: 90px auto 0;
}
.career_path > h3{
  font-family: 'GangwonEduPowerExtraBoldA';
  color: #292929;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 57px;
}
.path_point{
  background: url(./art_images/bg_career_path_line.png) 0 7px no-repeat;
  height: 456px;
  position: relative;
}
.path_point > li {
  position: absolute;
  text-align: center;
  padding-top: 44px;
  height: 103px;
  width: 260px;
}
.path_point > li::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -11px;
  background: url(./art_images/bul_dot.png) 0 0 no-repeat;
  width: 22px;
  height: 22px;
}
.path_point > li:nth-child(1){
  left: 85px;
}
.path_point > li:nth-child(2){
  left: 385px;
}
.path_point > li:nth-child(3){
  left: 685px;
}
.path_point > li:nth-child(4){
  left: 685px;
  top: 208px;
}
.path_point > li:nth-child(5){
  left: 385px;
  top: 208px;
}
.path_point > li:nth-child(6){
  left: 85px;
  top: 208px;
}
.point_num{
  font-family: 'GangwonEduPowerExtraBoldA';
  display: block;
  font-weight: bold;
  color: #292929;
  font-size: 18px;
}
.path_point strong{
  display: block;
  font-weight: bold;
  font-family: 'GangwonEduPowerExtraBoldA';
  color: #009223;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.02em;
  margin-top: 1px;
}
.view_deep{
  color: #999999;
  font-size: 13px;
  position: absolute;
  left: 0;
  width: 100%;
  /* width: fit-content; */
  height: fit-content;
  bottom: 0;
  letter-spacing: 0.025em;
}
.view_deep p {
  display: inline-block;
  cursor: pointer;
}

.layer_view{
  position: absolute;
  left: 0;
  top: 56px;
  width: 260px;
  background-color: #009223;
  padding: 15px 0 16px 0;
  /* display: table; */
  display: none;
  transition-duration: 0.3s;
}


.layer_view::after{
  content: '';
  width: 6px;
  height: 4px;
  background: url(./art_images/icon_arr_t.png) 50% 0 no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: -4px;
}
.layer_view p{
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: -0.04em;
  height: 83px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} 

.view_deep:hover + .layer_view{
  display: table;
  /* top: 36px; */
}
.layer_view:hover {
  display: table;
  top: 36px;
}

/*************** 채 용 지 원 ***************/
.recruit{
  background-color: #f2f2f2;
  padding: 95px 0 127px;
  letter-spacing: -0.03em;
}
.recruit_head{
  text-align: center;
}
.recruit_head h3 {
  text-align: center;
  color: #292929;
  font-size: 28px;
  font-weight: bold;
}
.recruit_head p {
  text-align: center;
  color: #666666;
  font-size: 16px;
  padding-top: 2px;
  line-height: 26px;
  letter-spacing: -0.04em;
  margin-top: 10px;
}
.recruit_link{
  text-align: center;
  margin-top: 35px;
}
.recruit_link_li{
  overflow: hidden;
  display: inline-block;
}
.recruit_link_li_item{
  float: left;
  width: 320px;
  height: 240px;
  background: #fff;
  box-sizing: border-box;
  margin-left: 35px;
  position: relative;
}
.recruit_link_li_item a{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  padding-top: 40px;
}
.recruit_link_li_item:first-child{
  margin-left: 0;
}
.recruit_logo{
  background: url(./art_images/img_recruit_logo.jpg);
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
.recruit_link_li_item:nth-child(1) .recruit_logo{
  background-position: 0 0;
}
.recruit_link_li_item:nth-child(2) .recruit_logo{
  background-position: -90px 0;
}
.recruit_link_li_item:nth-child(3) .recruit_logo{
  background-position: -180px 0;
}
.recruit_link_li_item>a>strong{
  display: block;
  font-weight: 300;
  color: #292929;
  font-size: 18px;
  margin: 18px 0 15px 0;
  letter-spacing: -0.03em;
}
.recruit_link_li_item>a>span{
  color: #999;
  font-size: 13px;
  display: inline-block;
}
.recruit_link_li_item::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; 
  box-sizing: border-box;
  border: 0px solid #009223;
}
.recruit_link_li_item:hover::after{
  border-width: 10px;
  /* border: 10px solid #009223; */
  transition-duration: 0.3s;
}
