ol{
  list-style: none;
}

#Promise_Main_Div{
  margin: auto;
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-areas: ".Head_Line"
  "#1st_grid"
  "#2nd_grid"
  "#3rd_grid";
}
.Head_Line{
  border: 1px solid #000;
}
#Head_subtitle{
  font-size: 50px;
  font-style: bold;
}
.grid_li{
  margin: 0;
  padding: 0;
  line-height: 120%;
  /* border: 1px solid #000; */
}
.grid_li_item{
  width: 100%;
  border: 1px solid #000;
}

.grid_box{
  width: 100%;
  padding-top: 5%;
  position: relative;
  /* border: 1px solid #000; */
}
#grid_1st, #grid_3rd{
  display: grid;
  grid-template-areas: ".image_sec .grid_txt_area";
  background-color: #ccc;
  justify-content: space-between;
}
#grid_2nd, #grid_4th{
  display: grid;
  grid-template-areas: ".grid_txt_area .image_sec";
  background-color: #fff;
  justify-content: space-between;
}

.image_sec{
  margin-top: 10%;
}

.grid_txt_area{
  margin-top: 10%;
  width: fit-content;
  height: 50%;
  /* border: 1px solid #000; */
}

.grid_head_txt{
  font-size: 28px;
}

.grid_main_txt{
  font-size: 16px;
}







.eng_l{
  height: fit-content;
  width: fit-content;
  position: absolute;
  right: 50%;
  bottom: 0px;
  color: aliceblue;
  font-size: 80px;
  font-weight: 900;
  outline: 1px solid #000;
}

.eng_r{
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: aliceblue;
  font-size: 80px;
  font-weight: 900;
  outline: 1px solid #000;
}