/* test.css 백업 */
/*************** 본 문 ***************/



/*************** 슬 라 이 드 ***************/

.Artist_slide_content{
  margin-top: 60px;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.Artist_slide{
  max-width: 2570px;
  width: 100%;
  overflow: hidden;
}
.Artist_slide_viewport{
  position: absolute !important;
  left: 50% !important;
  width: 2478px !important;
  margin-left: -378px !important;
  overflow: initial !important;
  height: 546px;
}
.slide_li{
  right: 39px;
  top: -10px;
  margin: auto;
  list-style: none;
  width: 4215%;
  
  /* 추가된 애 */
  /* width: 500%;   */
  /* -------- */
  position: relative;
  transition-duration: 0.5s;
  transform: translate3d(0px, 0px, 0px);
}
.slide_li_item{
  /* 추가된 애 */
  flex: 0 0 20%;
  /* -------- */
  
  float: left;
  list-style: none;
  position: relative;
  width: 770px;
  margin-right: 130px;
}
/*************** 슬 라 이 드 이 미 지 ***************/
.slide_img{
  /* width: 770px; */
  height: 390px;
  opacity: 0.5;
  overflow: hidden;
  transition-delay: 0.3s;
  transition-duration: 0.45s;
}
.slide_img.active{
  opacity: 1;
}
.slide_img > img{
  position: relative;
  width: 770px;
  /* height: 390px; */
  vertical-align: top;
  border: 0;
  max-width: 100%; /* 수정된 부분 */
  height: auto; /* 수정된 부분 */
}
.slide_li:nth-child(5n){
  background-position: 0 60px;
}

/*************** 슬 라 이 드 텍 스 트 ***************/
.slide_info{
  text-align: center;
  padding-top: 30px;
  position: relative;
  margin-top: 40px;
  opacity: 0;
  /* top: 30px; */
  top: 0;
  /* 추가된 애 */
  /* -------- */
}
.slide_info::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 4px;
  width: 50px;
  margin-left: -25px;
  background-color: #ffc300;
}
.slide_info_tit{
  font-size: 22px;
  font-weight: bold;
  color: #292929;
  letter-spacing: 0em;
}
.slide_info_txt{
  display: block;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  letter-spacing: -0.05em;
  white-space: pre-line;
}
.slide_info.active{
  opacity: 1;
}

/*************** 슬 라 이 드 버 튼 ***************/
.slide_ctl_Arrow{
  /* border: 1px solid #000; */
}

.slide_ctl_Arrow > a{
  width: 50px;
  height: 50px;
  background: url(./art_images/icon_slider_arr.png) no-repeat;
  position: absolute;
  top: 170px;
  overflow: hidden;
  font-size: 0;
  line-height: 0px;
  text-indent: -9999px;
  color: #333;
  cursor: pointer;
}
.slide_ctl_Arrow > .bt_next{
  background-position: 100% 0;
}
.bt_prev{
  background-position: 0 0;
  left: 50%;
  margin-left: -467px;
}
.bt_next{
  right: 50%;
  margin-right: -482px;
}
.bt_prev:hover{
  background-position: 0 100%;
}
.bt_next:hover{
  background-position: 100% 100%;
}




.slide_ctl_Dot{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 97px;
  text-align: center;
}

.Dot_item{
  display: inline-block;
  margin: 0 5px;

}
.clicked_dot{
  display: block;
  width: 10px;
  height: 10px;
  background-color: #dddddd;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 30px;
  transition-duration: 0.3s;
}
.clicked_dot:active{
  background-color: #ffc300;
  width: 30px;
}
.clicked_dot.on{
  background-color: #ffc300;
  width: 30px;
}
