/* FAQ.css 파일 */

#title1 {
  padding: 2vw 0;
  margin: 0;
  text-align: center;
  font-size: 2vw;
}

.wow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12vw;
  margin: 0 15vw;
}

.faq_container1 {
  border-top: 0.3vw solid green;
}

.faq_container1,
.faq_container2 {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 0.5vw 0;
}

.faq_section {
  padding: 1vw;
}

.faq_section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2vw;
}

.faq-section-content-visible {
  display: block;
}

.faq-section-content-hidden {
  display: none;
}

#first_list {
  display: flex;
  font-size: 1.2vw;
  margin: 1vw 0;
}
#first_list p {
  line-height: 1.7vw;
}
#second_list {
  line-height: 25px;
}

.fa-q {
  color: green;
}
.fa-a {
  color: rgb(216, 216, 53);
}
