.jsw_maindiv {
  width: 100%;
  background-color: white;
}

.jsw_maindiv h2{
  text-align: center;
  font-size: 2vw;
  margin: 3vw 0;
}

#jsw_container_2 {
  margin: 0 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  z-index: 8;
  box-shadow: 1px 1px 3px 1.5px #666666;
  position: relative;
}

#jsw_nav1_1 {
  text-align: center;
  padding: 1.2vw;
  font-size: 1.2vw;
}

#jsw_nav1_1.active {
  background-color: #009223;
  color: white;
}

#jsw_nav1_1.noactive {
  background-color: white;
  color: black;
}


