.jsw_maindiv {
  width: 100%;
  z-index: 7;
  background-color: white;
  
  
}




#jsw_container_2 {
  width: 1200px;
  height: 65px;
  margin: 0 auto;

  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;

  z-index: 8;

  box-shadow: 1px 1px 3px 1.5px #666666;

  position: relative;
  top: 30px;
}

#jsw_nav1_1 {
  text-align: center;
  padding-top: 25px;
}

#jsw_nav1_1.active {
  background-color: #009223;
  color: white;
}
#jsw_nav1_1.noactive {
  background-color: white;
  color: black;
}


