#ordertip_1 {
  width: 100%;
  background-color: rgb(242, 242, 250);
  /* border: 1px solid #000; */
}

.ordertip_visual_1 {
  width: 70vw;
  height: 28vw;
  margin: 0 auto;
  background-color: #fdc300;
}
.ordertip_visual_2 {
  width: 70%;
  height: 28vw;
  margin: 0 auto;
  background-color: #019122;
}

.ordertip_visual_3 {
  width: 70%;
  height: 28vw;
  margin: 0 auto;
  background-color: #58016c;
}

.ordertip_visual {
  background-position: 50% 0px;
}

.ordertip_visual2 {
  background-position: 50% 0px;
}

.ordertip_visual3 {
  background-position: 50% 0px;
}

.ordertip_content {
  padding-top: 2.5vw;
  width: 115%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#first_content_left {
  color: black;
  padding-left: 4vw
}

.more_tip_1 img{
  width: 15vw;
  height: 9vw;
}
#two_content_left {
  color: white;
  padding-left: 4vw;
}
.content_left {
  height: 100%;
}

.left_1 {
  height: 3vw;
  width: 20vw;
  border-radius: 2vw;
  background-color: #ff8201;
}

.left_1_2 {
  height: 3vw;
  width: 15vw;
  border-radius: 2vw;
  background-color: #ff8201;
}

.left_1_3 {
  height: 3vw;
  width: 15vw;
  border-radius: 2vw;
  background-color: #ff8201;
}

.left_1 > p {
  font-size: 1.2vw;
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  margin: 0;
}
.left_1_2 > p {
  font-size: 1.2vw;
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  margin: 0;
}
.left_1_3 > p {
  font-size: 1.2vw;
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  margin: 0;
}

.left_2 {
  padding: 3vw 0 2vw 0;
  font-size: 3vw;
}

.left_p {
  line-height: 150%;
  font-size: 1.2vw;
  margin: 0;
}

.content_right {
  width: 100%;
}

.content_right img{
  width: 33vw;
}

.ordertip_intro {

  /* border: 1px solid #000; */
}

.ordertip_content2 {
  margin: -3vw 3vw;
  height: 33vw;
  background-color: white;
  /* border: 1px solid #000; */
}

.content_name {
  padding: 3vw 0;
  text-align: center;
  font-size: 1.5vw;
}

.more_tip {
  text-align: center;
  list-style: none;
}

.more_tip > ul {
  display: grid;
  grid-template-columns: 1fr 0.15fr 1fr 0.15fr 1fr;
  align-items: center;
  margin: 0 10vw;
  padding: 0;
}

.more_tip_1 {
  list-style: none;
}

/* .more_tip_1::after {
  content: "·····";
} */

.more_tip_1 > p {
  font-size: 1vw;
  font-weight: bold;
  margin: 0
}

.more_tip_1 > p > span {
  font-size: 1.2vw;
  color: #ff8201;
}

.more_tip_1_img {
  width: 15vw;
}

.more_tip__ {
  font-size: 2vw;
  color: #ff8201;
}

.more_tip__::marker {
  content: "";
}

q {
  text-decoration: none;
}
