input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

label {
  box-sizing: border-box;
}

.CHM_adminProductPageBg {
  padding: 2vw;
}

.CHM_adminProductPageTitle {
  font-size: 1.7vw;
  padding-bottom: 1vw;
  border-bottom: 2px solid rgba(0, 0, 0, 0.271);
  margin-bottom: 1vw;
}

.CHM_adminProductPageSubTitle {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
  padding-left: 0.7vw;
  border-left: 0.5vw solid gray;
  margin-bottom: 1vw;
}

.CHM_adminProductPageBg form {
  border-top: 2px solid rgb(89, 89, 89);
}

.CHM_adminProductPageGridBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.CHM_adminProductPageGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  height: 4vw;
}

.CHM_adminProductPageLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1vw;
  text-align: center;
  height: 100%;
  border-bottom: 1px solid gray;
  font-size: 1.3vw;
}

.CHM_adminProductPageSearchSelect {
  padding: 1vw;
  background-color: rgb(240, 240, 240);
  display: flex;
  height: 100%;
  border-bottom: 1px solid gray;
}

#mainSection {
  margin-right: 0.5vw;
  font-size: 1vw;
}

.CHM_adminProductPageSearchSelect input {
  font-size: 1vw;
  width: 100%;
}

.CHM_adminProductPageSearchSelect select {
  font-size: 1vw;
  margin-right: 0.5vw;
}

.CHM_adminProductPagePriceSelect {
  padding: 1vw;
  background-color: rgb(240, 240, 240);
  display: flex;
  height: 100%;
  border-bottom: 1px solid gray;
  align-items: center;
  font-size: 1vw;
}

.CHM_adminProductPagePriceSelect input {
  font-size: 1vw;
  width: 20%;
}

.CHM_adminProductPageSellSelect {
  padding: 1vw;
  background-color: rgb(240, 240, 240);
  display: flex;
  height: 100%;
  border-bottom: 1px solid gray;
  align-items: center;
  font-size: 1vw;
}

.CHM_adminProductPageSellSelect label {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  column-gap: 0.4vw;
}

.CHM_adminProductPageSellSelect input {
  margin: 0;
  width: 1vw;
  height: 1vw;
  font-size: 1vw;
}

.CHM_adminProductSearchBtnBox {
  display: flex;
  justify-content: center;
  column-gap: 1vw;
  padding: 1vw 0 3vw 0;
}

.CHM_adminProductSearchBtnBox button {
  width: 6vw;
  font-size: 1vw;
  padding: 0.8vw;
  font-size: 1.2vw;
  border: none;
  color: white;
  cursor: pointer;
}

.CHM_adminProductSearchBtnBox button:first-child {
  background-color: rgb(60, 60, 60);
}

.CHM_adminProductSearchBtnBox button:last-child {
  background-color: rgb(161, 161, 161);
}

.CHM_adminProductpageTableBox table {
  border-top: 2px solid rgb(89, 89, 89);
  border-collapse: collapse;
  width: 100%;
  font-size: 1vw;
}

.CHM_adminProductpageTableBox th {
  border: 1px solid #c6c6c6;
  padding: 8px 0;
  background-color: rgb(173, 173, 173);
}

.CHM_adminProductpageTableBox td {
  border: 1px solid #c6c6c6;
  padding: 8px 0;
  text-align: center;
  background-color: rgb(240, 240, 240);
}



.CHM_plusformBox form{
  font-size: 1.3vw;
  text-align: center;
  margin-bottom: 2vw;
}

.CHM_plustable1grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CHM_plustable6grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}

.CHM_plustablegrid{
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}

.CHM_plustablegrid input{
  width: 70%;
  margin-left: 1vw;
  font-size: 1.3vw;
  padding:  0.3vw;
}

.CHM_plustablegrid2{
  display: grid;
  grid-template-columns: 1.8fr 0.8fr;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}

.CHM_plustablegrid2 input{
  width: 60%;
  margin-left: 0.5vw;
  padding:  0.3vw;
  font-size: 1.3vw;
}

.CHM_plustablegrid3{
  display: grid;
  grid-template-columns: 0.9fr 6.9fr;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}

.CHM_plustablegrid3 input{
  width: 60%;
  margin-left: 1vw;
  padding:  0.3vw;
  font-size: 1.3vw;
}

.CHM_plusTableTitle{
  background-color: white;
  padding: 1vw;
}

.CHM_plusPageBtnBox{
  display: flex;
  justify-content: center;
  column-gap: 2vw;
  font-size: 1.6vw;
  margin-top: 2vw;
}

.CHM_plusPageBtnBox button{
  border: 1px solid black;
  padding: 1vw;
  font-size: 1.3vw;
  background-color: rgb(52, 52, 52);
  color: white;
  cursor: pointer;
}

.CHM_adminProductPlusBtn{
  border: 1px solid black;
  padding: 1vw;
  font-size: 1.3vw;
  background-color: rgb(52, 52, 52);
  color: white;
  cursor: pointer;
}

.CHM_adminproducttdBtn{
  cursor: pointer;
}