
#title3{
  padding-top: 50px;
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
}

.briefing_button {
  display: flex;
  justify-content: center;
}

.briefing_button button {
  background-color: rgb(255, 255, 255);
  color: #555;
  border: 1px solid rgb(228, 197, 197);
  box-shadow: 3px 3px 10px #cecccc;
  width: 600px;
  height: 60px;
  z-index: 1;
  font-size: 18px;
  position: relative;
  top: 53px;
}

.briefing_button button.active {
  background-color: #009233;
  color: #fff;
}
.c_back {
  background-color: rgb(248, 244, 244);
  height: 1300px;
}
.c_backk {
  background-color: rgb(248, 244, 244);
  height: 800px;
}

.c_back1{
  background-color: none;
  margin: 0 18%;
}
.c_back2{
  background-color: none;
  margin: 0 18%;
  text-align: center;
}

.c_back2 b{
  color: rgb(115, 105, 105); 
} 

#title4{
  padding-top: 90px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 50px;
}
#title5{
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 50px;
}

.c_table_1{
  text-align: center;
  border-top: 4px solid #009233;
  clear: both;
  padding-bottom: 40px;
}


.c_table_1 table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.c_table_1 thead tr{
  height: 65px;
  border-bottom: 1px solid #009233;
  color: #009233;
}

.c_table_1 tbody td {
  border-bottom: 1px solid rgb(207, 203, 203);
  color:rgb(115, 105, 105);
  height: 65px;
  line-height: 25px;
}

.c_table_1 b{
  color: rgb(115, 105, 105); 
  position: relative;
  top: 32px;
}