/* FAQ.css 파일 */

#title1{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 35px;
}


.wow {
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 50%;
  padding-bottom: 200px;
}
.faq_container1{
  border-top: 3px solid green;
  padding-top: 3px;
  padding-bottom: 5px;
}

.faq_container1,
.faq_container2 {
  border-bottom: 1px solid #ccc;
  margin: 5px;
  width: 1000px;
}

.faq_section {
  padding: 10px;
}

.faq_section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-section-content-visible {
  display: block;
}

.faq-section-content-hidden {
  display: none;
}

#first_list {
  display: flex;
}
#first_list p{
  line-height: 25px;
}
#second_list {
  line-height: 25px;
}

.fa-q{
  color: green;
}
.fa-a{
  color: rgb(216, 216, 53);
}