
#outline {
  border: none;
  background-color: white;
  color: black;
}

.franchise {
  box-sizing: border-box;
  margin: 0 auto;
}

.f_button {
  display: flex;
  justify-content: center;
  gap: 4vw;
  padding: 1.5vw 0;
  border-top: solid rgb(216, 215, 215) 1px;
  border-bottom: solid rgb(216, 215, 215) 1px;
}

#outline a{
  font-size: 1.2vw;
  font-weight: bold;
}

#outline a.active {
  color: rgb(59, 97, 2);
  font-size: 1.5vw;
}