a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
}

.topheader {
  text-align: center;
}

#logo {
  text-align: center;
  margin: 20px 0;
}

.util_menu {
  margin-left: 1500px;
}

.util_menu button {
  border: none;
  background-color: white;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu-item {
  margin: 44px 60px;
  position: relative;
}

.submenu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: -30px;
  padding: 30px;
  background-color: white;

  display: none;
  width: 260%;
  height: 200px;
  flex-direction: row;
  font-size: small;
}

.submenu li:hover{
  color: rgb(84, 129, 16);
  text-decoration: underline;
}

.menu-item:hover .menu-item {
  display: flex;
  flex-direction: column; 
}

.menu-item:hover .submenu li {
  display: block; 
}

.submenu li {
  padding: 8px 0;
}
.menu:hover .submenu {
  display: flex;
  flex-direction: column;
}