a {
  color: inherit;
  text-decoration: none;
}

.submenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffffff;
  color: #000000;
  position: relative;
  z-index: 10;
}

.content {
  position: relative;
  z-index: 3;
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
}

.topheader {
  text-align: center;
}

#logo {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
  left: 50%;
  margin-top: 0;
}

.util_menu {
  display: flex;
  justify-content: end;
  padding-right: 3vw;
}

.util_menu button {
  border: none;
  background-color: white;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-item {
  margin: 30px 60px;
  position: relative;
  z-index: 10;
}

.submenu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: -30px;
  padding: 30px;
  background-color: white;

  display: none;
  width: 260%;
  height: 200px;
  flex-direction: row;
  font-size: small;
  z-index: 10;
}

.submenu li:hover{
  color: rgb(84, 129, 16);
  text-decoration: underline;
}

.menu-item:hover .menu-item {
  display: flex;
  flex-direction: column; 
}

.menu-item:hover .submenu li {
  display: block; 
}

.submenu li {
  padding: 8px 0;
}
.menu:hover .submenu {
  display: flex;
  flex-direction: column;
}